/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
    height: 100%;
    
}


.nav {
    margin-top: 65px;
    margin-left: 50px;;
    
}
.navbar-inverse.brand,.navbar-inverse.nav>li>a:hover  {
    color: #000;
}

.container {
    background-color: white;
    float: left;
    margin-bottom: 0px;
}

#bs-example-navbar-collapse-1 a:hover {
    color: #000;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
h3 {
    text-align: right;
}
/*services page css*/

#logoPic {
    width: 33%;
    padding-left: 2%;
    height: inherit;
    float: left;
    background-color: white;
}

fieldset {
    border-bottom: solid black 1px;
    margin-left: 35px;
    margin-right: 35px;
}
.rightStart {
    float: right;
    width: 66%;
    height: auto;
    min-height: inherit;
    color: black;
    padding-left: 2%;
    padding-top: 5px;
    background : -webkit-linear-gradient(0deg,rgba(204, 224, 244, 1) 0%, 
        rgba(195, 220, 242, 1) 6.41%,
        rgba(169, 210, 238, 1) 17.06%,
        rgba(128, 194, 231, 1) 30.66%,
        rgba(71, 172, 222, 1) 46.49%,
        rgba(30, 156, 215, 1) 56.74%,
        rgba(0, 117, 190, 1) 86.52%,
        rgba(0, 91, 151, 1) 99.44%);

  filter: alpha(opacity=58) progid:DXImageTransform.Microsoft.Alpha(opacity=58) progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE0F4',endColorstr='#005B97' , GradientType=1);
}

.rightVamp {
    float: right;
    width: 66%;
    height: auto;
    color: black;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
  background : -webkit-linear-gradient(0deg, rgba(204, 224, 244, 1) 0%, rgba(195, 220, 242, 1) 6.41%, rgba(169, 210, 238, 1) 17.06%, rgba(128, 194, 231, 1) 30.66%, rgba(71, 172, 222, 1) 46.49%, rgba(30, 156, 215, 1) 56.74%, rgba(0, 117, 190, 1) 86.52%, rgba(0, 91, 151, 1) 99.44%);

  filter: alpha(opacity=58) progid:DXImageTransform.Microsoft.Alpha(opacity=58) progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE0F4',endColorstr='#005B97' , GradientType=1);
}
.rightView {
    float: right;
    width: 66%;
    height: auto;
    min-height: inherit;
    color: black;
    padding-left: 2%;
    padding-top: 5px;
    background : -webkit-linear-gradient(0deg,       rgba(204, 224, 244, 1) 0%, 
        rgba(195, 220, 242, 1) 6.41%,
        rgba(169, 210, 238, 1) 17.06%,
        rgba(128, 194, 231, 1) 30.66%,
        rgba(71, 172, 222, 1) 46.49%,
        rgba(30, 156, 215, 1) 56.74%,
        rgba(0, 117, 190, 1) 86.52%,
        rgba(0, 91, 151, 1) 99.44%);

         filter: alpha(opacity=58)      progid:DXImageTransform.Microsoft.A  lpha(opacity=58)         progid:DXImageTransform.Microsoft.g     radient(startColorstr='#CCE0F4',end     Colorstr='#005B97' ,   GradientType=1);
}


.rightLation {
    float: right;
    width: 66%;
    height: auto;
    min-height: inherit;
    color: black;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 15px;    background : -webkit-linear-gradient(0deg,rgba(204, 224, 244, 1) 0%, 
        rgba(195, 220, 242, 1) 6.41%,
        rgba(169, 210, 238, 1) 17.06%,
        rgba(128, 194, 231, 1) 30.66%,
        rgba(71, 172, 222, 1) 46.49%,
        rgba(30, 156, 215, 1) 56.74%,
        rgba(0, 117, 190, 1) 86.52%,
        rgba(0, 91, 151, 1) 99.44%);

  filter: alpha(opacity=58) progid:DXImageTransform.Microsoft.Alpha(opacity=58) progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE0F4',endColorstr='#005B97' , GradientType=1);
}

/* about page css below*/
#leftNav {
    width: 33%;
    padding: 15px;
    float: left;

}
.contactForm {
    background-color: #339966;
}


#rightAbout {
    width: 67%;
    float: right; 
    background-color:  rgba(204, 255, 51, 1);
    height: inherit;
}
/*testimonial page css */

.test{
  width: 20%;
  height: 20%;
  position: relative;
  display: inline-block;
}
.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  padding-left: 30px;
  padding-top: 20px;

}
.face.front{
  
}
.face.back {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  text-align: left;
  background-color: #333;
}


.test{
  perspective: 800px;
  padding-left: 25px;
}
.card{
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card:hover .front{
  transform: rotateY(-180deg);
}

.card:hover .back {
 transform: rotateY(0deg);
}
.face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.face.front {
  transform: rotateY(0deg);
} 

.face.back {
  transform: rotateY(180deg); 
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    min-height: 25px;
    color: #000033;
    text-align: center;
    margin: 50px 0;
    padding-top: 5px;
}

